/*弹窗最外层盒子*/
.alert-layer-max-box{
	width: 100%;
	height: 100%;
	min-width: 900px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}

.alert-layer-max-box .part-title-box{
	padding: 10px;
}


/*弹窗中树的外层盒子*/
.layer-tree-box{
	width: 280px;
	height: 100%;
	background: #fff;
	border-right: 10px solid #efeff4;
	box-sizing: border-box;
	overflow-y: auto;
	position: relative;
}

.layer-tree-content{
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 0;
	left: 0;
}

.tree-content-box{
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
}

/*弹窗中内容外层盒子*/
.layer-contet-box{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 280px;
	overflow-y: auto;
}

/*弹窗页面内容*/
.content-detail-box{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

/*编辑内容外层盒子*/
.edit-detaile-box{
	width: 100%;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.form-box{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 10px solid #efeff4;
	padding: 10px;
}

.form-box .cell-div{
	margin: 8px 0;
}

/*选择单位和警员外层盒子*/
.checked-company-person-box{
	width: 100%;
	height: 125px;
	box-sizing: border-box;
	padding: 0 15px 10px 15px;
}

.checked-grid-type-box{
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding: 0 15px 10px 15px;
}

.checked-company-person-box>div{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	border: 1px solid #bababa;
}

.checked-grid-type-box>div{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	border: 1px solid #bababa;
}
.checked-person-box{
	margin-right: 15px;
}

.checked-title{
	height: 36px;
	width: 100%;
	background: #d0d0e0;
	line-height: 36px;
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
}

.checked-name-box{
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
}

.checked-task-name-box{
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
}
.checked-name-inner-box{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 5px;
}

.name-cell{
	position: relative;
	float: left;
	padding: 6px 10px;
	background: #efeff4;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	margin: 5px;
	cursor: pointer;
}

.remove-checked{
	position: absolute;
	top: -6px;
	right: -6px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: #fff;
	border: 1px solid #dcdcdc;
	text-align: center;
	line-height: 12px;
	color: #999;
	font-size: 16px;
}

/*人员列表*/
.person-list-box{
	width: 100%;
	display: none;
	border-top: 10px solid #efeff4;
	box-sizing: border-box;
}


/*已选择列表外层盒子*/
.alert-table-box{
	width: 100%;
	max-height: 200px;
	padding: 0 10px 10px 10px;
	box-sizing: border-box;
	overflow-y: auto;
}

.add-police-person{
	cursor: pointer;
	font-weight: 600;
}

.task-cell{
	float: left;
	margin: 10px 80px 10px 25px;
}

.task-radio{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/theme/img/index/radio-bg1.png) no-repeat center;
	background-size: 100% 100%;
	vertical-align: sub;
}

.task-radio-checked{
	background-image: url(/theme/img/index/radio-bg2.png);
}
.task-radio-content{
	display: inline-block;
	height: 20px;
	margin-left: 5px;
	line-height: 20px;
}