#container {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 13px;
}

#pickerBox {
    position: absolute;
    z-index: 9999;
    top: 190px;
    right: 116px;
    width: 300px;
}

#pickerInput {
    position: absolute;
    width: 200px;
    padding: 5px 5px;
}

#poiInfo {
    background: #fff;
}

.amap_lib_placeSearch .poibox.highlight {
    background-color: #CAE1FF;
}

.amap_lib_placeSearch .poi-more {
    display: none!important;
}