div#fancy_outer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    margin: 0;
    overflow: hidden;
    background:rgba(0,0,0,0.7);
    display: none;
}

div#video_outer {
    height: 600px;
    width: 800px;
    margin: 0 auto;
  background: url("/theme/img/jiejingtai/video-box-bg2.png") no-repeat center;
    background-size: 100% 100%;
    border: 0px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    overflow: hidden;
    display: none;
}
.video-control-box{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(0,0,0,0.3);
    line-height: 60px;
}
/*开始播放按钮*/
.sr-btn{
    margin: 15px 0 0 30px;
    width: 30px;
    height: 30px;
    background: url("/theme/img/jiejingtai/video-star.png") no-repeat center;
    background-size: 100% 100%;
    border: 0;
}
/*结束播放按钮*/
.stop-btn{
    margin: 15px 0 0 30px;
    width: 30px;
    height: 30px;
    background: url("/theme/img/jiejingtai/video-stop.png") no-repeat center;
    background-size: 100% 100%;
    border: 0;
}
.panel {
    margin-bottom: 0px;
    background-color: #ffffff;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}
.panel-default {
    border-color: #dddddd;
}
.panel-body {
    padding: 0px;
}
#videobox video{
    width: 800px;
    height: 585px;
}

.photoLeft{
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 51px;
    cursor: pointer;
    right: 45px;
    background: url("/theme/img/inspection/arrow-left.png") no-repeat;
}

.photoRight{
    text-align: center;
    position: absolute;
    top: 50%;
    width: 51px;
    height: 51px;
    cursor: pointer;
    left: 105%;
    background: url("/theme/img/inspection/arrow-right.png") no-repeat;
    /*background-image: url("/theme/img/detail/arrow-right.png");*/
}

.pictures_eyes_close {
    position: fixed;
    top: 30px;
    right: 30px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("/theme/img/inspection/close.png") no-repeat;
    z-index: 100;
    display: none;
}