/*最外层盒子样式*/
.max-box{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow-y: overlay;
	overflow-x: hidden;
}

/*地图页面相关样式*/

.myMap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.amap-scalecontrol {
	left: 1rem !important;
}

/*内层盒子样式*/
.main-inner-box{
	position: relative;
	width: 100%;
	height: 100%;
  overflow-y: overlay;
	overflow-x: hidden;
}

/*开启保护时间样式*/
.protection-time-box{
	position: absolute;
	top: 0.42rem;
	right: 0;
	left: 0;
	width: 2.4rem;
	height: 0.88rem;
	margin: auto;
	background-color: #fff;
	text-align: center;
	line-height: 0.88rem;
	font-size: 0.48rem;
	border-radius: 0.1rem;
	z-index: 4;
}

.full-screen{
	position: absolute;
	top: 5rem;
	left: 0.3rem;
	height: 0.88rem;
	width: 0.88rem;
	background-image: url(../img/safety-technology/full-screen.png);
	background-size: 100% 100%;
	z-index: 4;
}

.location-btn{
	position: absolute;
	top: 6.4rem;
	left: 0.3rem;
	height: 0.88rem;
	width: 0.88rem;
	background-image: url(../img/safety-technology/location-icon.png);
	background-size: 100% 100%;
	z-index: 4;
}

.audio-record-btn{
  position: absolute;
  top: 5rem;
  right: 0.3rem;
  height: 0.88rem;
  width: 0.88rem;
  background-image: url(../img/safety-technology/audio-record.png);
  background-size: 100% 100%;
  z-index: 4;
}

.img-group{
	position: absolute;
	top: 5rem;
	left: 3rem;
	width: 1.2rem;
	height: 1rem;
	z-index: 4;
}

.img-group img{
	width: 100%;
	height: 100%;
}

.img-count-num{
	position: absolute;
	top: -0.15rem;
	right: -0.15rem;
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 50%;
	color: #fff;
	background-color: #7ca8f2;
	text-align: center;
	line-height: 0.4rem;
}

/*保护人详细信息*/
.protected-person-box{
	position: absolute;
	right: 0;
	bottom: 0.32rem;
	left: 0;
	width: 6.6rem;
	margin: auto;
	background-color: #fff;
	border-radius: 0.1rem;
	padding: 0 .2rem 0.15rem .2rem;
	box-sizing: border-box;
	z-index: 4;
}

.person-message-box{
	padding: .26rem 0 .2rem 0;
	border-bottom: 1px solid #dedede;
}

.safety-icon{
	float: left;
	width: 0.8rem;
	height: 0.8rem;
}

.person-message{
	float: left;
	margin-left: 0.2rem;
	width: 5.2rem;
	padding-bottom: 0.17rem;
}

.person-message p{
	line-height: .42rem;
}

.protected-button-box{
	height: 0.68rem;
	line-height: 0.68rem;
	margin-top: 0.14rem;
}

.protected-call{
	display: inline-block;
	width: 49%;
	border-right: 1px solid #dedede;
	text-align: center;
}

.protected-navigation{
	display: inline-block;
	width: 49%;
	text-align: center;
}

.protected-audio-record{
  display: inline-block;
  width: 49%;
  text-align: center;
}

.call-icon{
	width: 0.44rem;
	height: 0.44rem;
	margin-right: 0.24rem;
}

.icon-navigation{
	width: 0.44rem;
	height: 0.44rem;
	margin-right: 0.24rem;
}

/*浅蓝色背景颜色*/
.bg-light-blue{
	background-color: #afe1fa;
}

.bg-img-download{
	background-image: url(../img/safety-technology/download-bg.png);
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
}

/*下载app的文字外层盒子样式*/
.download-text-box{
	width: 100%;
	font-size: 0.36rem;
	text-align: center;
	padding: 2.12rem 0 .71rem 0;
}

.download-text-box p{
	color: #0a7ac4;
	line-height: 0.54rem;
}

.download-qr-code-box{
	text-align: center;
}

.qr-code-img{
	width: 2.85rem;
	height: 2.85rem;
}

.download-qr-code-box>p{
	font-size: 0.3rem;
	color: #0a7ac4;
	margin-top: 0.24rem;
}

/*安全守护神新增页面*/
/*下载app文字提醒外层盒子样式*/
.download-warning-box{
  height: 0.88rem;
  background-color: #f7e9be;
  color: #e34913;
  line-height: 0.88rem;
  text-align: center;
}

/*下载标志*/
.download-icon{
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  vertical-align: middle;
}

/*守护神tab切换盒子*/
.guard-tab-box{
  height: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
}

.guard-tab-box>li{
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 0.99rem;
}

.checked-guard-tab span{
  display: inline-block;
  color: #41afee;
  height: 100%;
  border-bottom: 1px solid #41afee;
}

/*守护神tab切换内容*/
.guard-content-box{
  position: absolute;
  top: 1.88rem;
  right: 0;
  bottom: 0;
  left: 0;
}

.guard-information-list{
  margin: 0.5rem 0 0.3rem 0;
  background-image: url(../img/safety-technology/line.png);
  background-repeat: repeat-y;
  background-size: 0.06rem;
  background-position: 0.42rem;
}

.guard-information-list>li{
  padding: 0.2rem 0.3rem 0.4rem 0.6rem;
}

.upload-time{
  padding-left: 0.6rem;
  margin-top: -0.35rem;
  margin-left: -0.3rem;
  color: #41afee;
  font-size: 0.28rem;
  background-image: url(../img/safety-technology/time-icon.png);
  background-repeat: no-repeat;
  background-size: 0.3rem 0.3rem;
  background-position: left;

}

.upload-text{
  padding: 0.1rem 0.3rem;
  line-height: 1.5;
}

.img-group-box,.video-group-box{
  padding: 0 0.2rem;
}

.img-group-box img{
  margin: 0.1rem;
  width: 1.57rem;
  height: 1.57rem;
}

/*只有一张图片的时候图片的样式*/
.only-one-img img{
  width: 2.4rem;
  height: 3rem;
  margin: 0.1rem;
}

.guard-video-box{
  position: relative;
  width: 2.4rem;
  height: 3rem;
  margin: 0.15rem 0.1rem;
  background-color: #000;
}

.guard-video-box>video{
  width: 100%;
  height: 100%;
}

.guard-video-play{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  background-image: url(../img/daming/information_btn_play.png);
  background-size: 0.63rem 0.63rem;
  background-position: center;
  background-repeat: no-repeat;
}

.guard-voice-box{
  display: none;
}

/*系统录音播放样式*/
.voice-play-box{
  height: 1.2rem;
  background-color: #f5f5f5;
  padding: 0.3rem;
  box-sizing: border-box;
}

.play-or-pause-btn{
  background-image: url(../img/safety-technology/play-voice.png);
  width: 0.6rem;
  height: 0.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 0.1rem;
}

.voice-sound-wave{
  display: inline-block;
  width: 4.1rem;
  height: 100%;
  vertical-align: middle;
  -webkit-transform: rotate(180deg);
  padding-top: 0.1rem;
  box-sizing: border-box;
}

.voice-sound-wave>div{
  float: right;
  width: 0.04rem;
  margin-right: 0.02rem;
  vertical-align: bottom;
}

.voice-duration{
  display: inline-block;
  height: 100%;
  font-size: 0.24rem;
  color: #999;
  vertical-align: middle;
  line-height: 0.6rem;
}

.voice-title{
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.3rem;
  border-bottom: 1px solid #f5f5f5;
  box-sizing: border-box;
}

.continuous-play{
  float: right;
  margin-top: 0.2rem;
  line-height: 0.5rem !important;
  height: 0.5rem;
}

.continuous-checkbox{
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background-image: url(../img/safety-technology/checkbox.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 0.5rem;
  vertical-align: middle;
}

.continuous-checkbox input[type='checkbox']{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.continuous-checkbox-checked{
  background-image: url(../img/safety-technology/play-checkbox.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.voice-list{
  position: absolute;
  top: 2.2rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 0.15rem 0.3rem 0.3rem;
}

.voice-list>li{
  padding: 0.15rem 0;
}

.play-icon01{
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: middle;
  background-image: url(../img/safety-technology/play01.png);
  background-size: 100% 100%;
}

.voice-time{
  color: #999;
  vertical-align: middle;
}

.playing-voice .play-icon01{
  background-image: url(../img/safety-technology/pause.png);
  background-size: 100% 100%;
}

.playing-voice .voice-time{
  color: #41afee;
}